
<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @restaurant.city %>
</p>

<p>
  <strong>Upvote:</strong>
<span class="likes"><%= UserVote.where(restaurant_id: @restaurant.id).sum(:upvote) %></span>
</p>

<p>
  <strong>Downvote:</strong>
  <span class="dislikes"><%=  UserVote.where(restaurant_id: @restaurant.id).sum(:downvote)  %></span>
</p>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
<% if user_signed_in? %>

<br>
<br>
<h3>Add new comment</h3>
<%= render 'comments/form', comment: @comment %>
<%= render 'comment_index', comments: @comments %>
<% end %>